*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    min-height: 100vh;
    background: #5151f8;
}

.wrapper{
    width: 440px;
    background: white;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 38px;
}

.wrapper img{
    max-width: 103px;
}

.wrapper h1{
    font-size: 38px;
    font-weight: 600;
    margin: 30px 0;
}

.wrapper .content{
    width: 100%;
    justify-content: space-between;
}

.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column{
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid black;
    width: calc(100% / 3 - 5px);
}

.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 19px;
    color: black;
}

.wrapper button{
    outline: none;
    border: none;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: #5151f8;
    color: white;
}